<link rel="stylesheet" href="/css/navbar.css">

<footer class="footer">
  <div class="footer-container">

    <!-- Brand Section -->
    <div class="footer-section">
      <h3 class="footer-logo">AGROVERSE</h3>
      <p>
        Empowering farmers with smart agricultural solutions,
        crop recommendations, and data-driven insights.
      </p>
    </div>

    
    <!-- Contact Info -->
    <div class="footer-section" >
      <h4>Contact</h4>
      <p>Email: support@agroverse.com</p>
      <p>Phone: +91 98765 43210</p>
      <p>India</p>
    </div>

  </div>

  <div class="footer-bottom">
    © 2026 agroverse| All Rights Reserved
  </div>
</footer>

<script src="/js/main.js"></script>
<script src="/js/validation.js"></script>