<nav class="navbar">
  <div class="logo">AGROVERSE</div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/crop">Crop Selection</a></li>
    <li><a href="/disease">Disease Detection</a></li>
    <li><a href="/market">Market Prices</a></li>
    <li><a href="/scheme">Govt Schemes</a></li>
    <li><a href="/auth/login">Login</a></li>
  </ul>
</nav>
